# Persistent property storage
type persist_property_file, file_type;

# Filesystems
type exfat, sdcard_type, fs_type, mlstrustedobject;
type ntfs, sdcard_type, fs_type, mlstrustedobject;
